.feature{
  display: flex;
  justify-content: space-between;
  background: $black;
  @media (max-width: 375px){
    flex-direction: column;
  }
  &__item{
   max-width: 33,3333%;   
    margin: $sp*7 0;
    text-align: center;
    color:$white;
    @media (max-width: 375px){
      margin: 47px 0;
    }
  & h4{
    font-size: 20px;
    line-height: 24px;
    margin: 20px 0 $sp 0;
  }
  & p{
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding: 0 $sp;
    margin: 0;
  }
   &:nth-child(2){
    margin: $sp*7 $sp*2;
    @media (max-width: 375px){
      margin: 0;
    }
   }
   &:hover svg{
     transform: scale(1.25);
   }
  }
  &__item-icon{
    width: 40px;
    height: 40px;
  fill: $color-accent; 
  @include transit(all,.2s,ease-out);   
  }

}