.header{
  // min-width: 100%;  
  min-height: 75px;
  background-color: $black; 

  display: flex;
  align-items: center;
  justify-content: space-between;
  
  &-block{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 10%;
  }       
    }
.hero {
  background: $bgc-hero;
  background-image: url(../img/hero_man.jpg);
  background-position: left bottom; /* Положение фона */
  background-repeat: no-repeat; /* Отменяем повторение фона */
  min-height: 764px;
  display: flex;
  justify-content: flex-end;/* chrome dont work */
  align-items: center;
  &__title{
    display: flex;
    flex-direction: column;
    // align-items: center;
    text-transform: uppercase;
    border-left: 12px $color-accent solid;
    padding-left: 16px;
    & h1{
      margin: 0;
      font-size: 48px;
      font-style: bold;
      font-weight: 900;
      line-height: 58px;
    }
    & p{
      margin: 15px 0 0 0;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 38px;      
    }
    & span{
      font-size: 37px;
      font-style: normal;
      font-weight: 700;
      line-height: 44px;
     color: $color-accent;
      
    }
  }
}