// MAIN UI
* {
  box-sizing: border-box;
  /*margin: 0;
  padding: 0;*/
}
body{
  font-family: "Lato", $font-stack;
  font-weight: normal;
  background:$bgc;
  line-height: 1.4rem;
  margin: 0;
}
.container {
  padding: 0 calc(50% - 1140px / 2);
  @media (max-width: 1170px){
  padding: 0 2vw;
  }

  @media (max-width: 768px) {
    // padding: 0 max(10px,10%);
  }

}

.icon-box {
	// margin: 0;
	width: 32px;
	height: 32px;
	position: relative;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.btn-clear{
  font: inherit;
  color: inherit;
  border: solid 1px transparent;
  background-color: transparent;
  &:active {
    transform: translateY(1px);
    filter: saturate(150%);
 }

 
 /* инвертируем цвета при наведении и фокусе */
// &:hover,
// &:focus {
//    color: #9555af;
//    border-color: currentColor;
//    background-color: white;
// }
}

button:active, button:focus {
  outline: none !important;
}
button::-moz-focus-inner {
  border: 0 !important;
}

.button{
  display: inline-block;
  padding: 15px 40px;
  font-size: 16px;
  line-height: 19px;
  color: $color-accent;
  border: 1px solid $color-accent;
  margin-bottom: $sp*4;
  text-decoration:none;
  background-image: linear-gradient(to left,transparent,transparent 50%,$color-accent 50%,$color-accent);
background-position: 100% 0;
background-size: 200% 100%;
transition: all .25s ease-in;
font: 400 18px tahoma;
&:hover{
  fill: $white;
  color: $white;
  background-position: 0 0;    
}
&:hover svg{
  fill: $white;
}
}


// END UI

// GRID
.wrapper{
  width: 1140px;
  margin: 0 auto;
}
.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}
.col{
flex: 0 0 100%;
max-width: 100%;
position: relative;
width: 100%;
@include colpad;
&-4{
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
  @include colpad;
}
&-5{
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
  @include colpad;
}
&-6{
  flex: 0 0 50%;
  max-width: 50%;
  @include colpad;  
}
&-7{
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
  @include colpad;
}
}
