<!-- 
  * breadcrumb
 -->
<div class="breadcrumb container">
  <h1 class="breadcrumb__h1">@@h1 </h1>
  <!-- arr в gulpfile html->context -->
  @@if (context.h1 === 'NEW ARRIVALS'){
  <ul class="breadcrumb__list">
    @@for (var i = 0; i < arr.length; i++) {<li class="breadcrumb__item"><a href="#"
        class="breadcrumb__item-link">`+arr[i]+`</a></li>}
      <li class="breadcrumb__item breadcrumb__item"><a href="#"
          class="breadcrumb__item-link breadcrumb__item-link--active">@@h1 </a>
      </li>
  </ul>
  }
</div>